body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1) rotate(10deg);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    padding: 10px;
    text-align: center;
    background-color: #0074d9;
    color: #fff;
    margin: 0;
}
